.site-content
	+margin(null auto)
	min-height: 100vh
	position: relative
	z-index: 2
	background: $white


.article
	&__header,
	&__content
		+padding(null $gutter)


	&__header
		+padding( $spacing-large null )
		margin-bottom: $spacing-large
		border-bottom: 1px solid $c-bg--light

		a
			color: currentcolor

		h2
			margin-bottom: 0

	&__content
		padding-bottom: $spacing-large 
