.main
	padding-left: $sidebar-width

.site-content
	+margin(null auto)
	min-height: 100vh
	// box-shadow: 0 0 3px rgba($black, .2)
	border:
		color: $c-bg--dark
		style: solid
		left-width: 1px
		right-width: 1px

	position: relative
	z-index: 2
	background: $white

.article
	&__header,
	&__content
		+padding(null $gutter)


	&__header
		+padding( $spacing-large null $spacing-small )
		margin-bottom: $spacing-large
		border-bottom: 1px solid $c-bg

		h3
			margin-bottom: 0

	&__content
		+padding($spacing-large null)
