/* ==============================
    Article styling
============================== */

.article {

    /* ------------------------------
        Elements
    ------------------------------ */
    pre {
        margin:  $spacing-large -#{$gutter} 0;

        @include media('screen','<mobile') {
            padding-left:    $spacing-medium;
            padding-right:   $spacing-medium;
            margin-left:  -#{$spacing-medium};
            margin-right: -#{$spacing-medium};
        }
    }

    pre + pre {
        margin-top: 0;
        border-top: #111 1px solid;
    }


    /* ------------------------------
        Sections
    ------------------------------ */
    &__header,
    &__content,
    &__footer {
        @include padding(null $gutter);
        position: relative;
        @include media('screen','<mobile') {
            @include padding(null $spacing-medium);
        }
    }

    &__header {
        @include padding($spacing-large null);
        background: $c-main;
        margin-bottom: $spacing-large;
        border-bottom: 1px solid $c-bg;
        color: $white;

        a  { color: currentcolor; }
    }

    &__content {
        padding-bottom: $spacing-large;

        .error {
            color: desaturate(red, 20%);
            text-align: center;
            font-weight: bold;
        }

    }

    &__footer {
        border-top: 1px solid $c-bg--dark;
        small a { color: $c-fg--light; opacity: .1; }
    }

    /* ------------------------------
        Components
    ------------------------------ */
    &__title {
        margin-bottom: 0;

        &--side { margin-bottom: 0; }
    }

    .icon {
        @include size(40px);
        @include position( absolute, 30px $gutter null null );
        fill: currentcolor;
        z-index: 2;
        text-align: center;
        font-size: 2em;
    }

    &__navigation {
        @include clearfix;
        padding: $gutter 0;
        .previous { float: left; display: block; }
        .next { float: right; display: block; }
    }

}
