

/* ==============================
	Article styling
============================== */

.article {
	max-width: $site-width;

	/* ------------------------------
		Sections
	------------------------------ */
	&__header,
	&__content,
	&__footer {
		@include padding(null $gutter);
		@include bp(mobileonly) {
			@include padding(null $spacing-small);
		}
	}

	&__header {
		@include padding($spacing-large null);
		margin-bottom: $spacing-large;
		border-bottom: 1px solid $c-bg;

		a  { color: currentcolor; }
	}

	&__content {
		padding-bottom: $spacing-large;
	}

	&__footer {
		@include clearfix;
		.prev { float: left; }
		.next { float: right; }
	}

	/* ------------------------------
		Components
	------------------------------ */

	&__title {
		margin-bottom: 0;
		.small {
			font-size: .8em;
			font-style: italic;
			color: $c-fg--light;
			&:after { content: '-'; }
		}
	}
}
