
.main-header
	+padding($gutter)
	font-weight: bold
	border-bottom: 1px solid #ccc
	margin-bottom: $gutter

	a
		color: currentcolor


.navigation
	ul
		margin: 0
		padding-left: 0

	li
		list-style: none
		display: inline-block

	a
		display: inline-block
		padding: $gutter

		&:hover 
			background: #FFF