.site-wrap
	max-width: $site-width;
	margin: 0 auto


.sidebar
	overflow: auto
	color: $c-fg--light

	+bp(mobile)
		width: $sidebar-width
		height: 100%
		+position(fixed, 0 null null null )

	+bp(mobileonly)
		background: $c-main
		color: $c-main--light


.main
	padding-left: 0
	+bp(mobile)
		padding-left: $sidebar-width
