.sidebar
    +size($sidebar-width 100%)
    +position(absolute, 0 null null 0)
    color: $c-fg--light
    overflow: auto
    background: $c-sec
    color: $c-sec--lighter

.main-content
    padding-left: $sidebar-width
