.site-wrap
	max-width: $site-width;
	margin: 0 auto

.sidebar
    +size($sidebar-width 100%)
    +position(absolute, 0 null null 0)
    overflow: auto
    color: $c-sec--lighter

.main-content
    padding-left: $sidebar-width
