.sidebar {
    color: $c-fg--light;
    position: relative;
    z-index: 3;

    .inner {
        overflow: auto;
        height: 100%;
    }

    @include media('screen', '>desktop') {
        @include position(fixed, 0 null null null);
        width: $sidebar-width;
        height: 100%;
        background: $white;
        box-shadow: $shadow--large;
        z-index: 8;
    }

    @include media('screen', '<desktop') {
        @include position(fixed, 0);
        @include size( 100% );
        transform: translateX(-100%);
        transition: transform $easing--fast;
        z-index: 10;

        .inner {
            margin: $spacing-small;
            box-shadow: $shadow--large;
            background: $c-main;
            color: $white;
        }

        .navigation-is-active & {
            transform: none;
        }
    }
    
    @include media('screen', '>mobile', '<desktop') {
        max-width: $sidebar-width;
    }

}


.site-content {
    margin: 0 auto;
    position: relative;
    z-index: 3;

    @include media('screen','>desktop') { margin-left: $sidebar-width; }
    @include media('screen','<desktop') { padding: 0 $spacing-small; }

    .inner {
        position: relative;
        padding-bottom: $spacing-large;
        max-width: $site-width;
        min-height: 100vh;
        margin: 0 $spacing-medium;
        background: $c-bg--light;
        box-shadow: $shadow--large;

        @include media('screen', '<desktop') { margin: 0 auto; }
    }

}
