.sidebar {
    color: $c-fg--light;
    position: relative;
    z-index: 3;
    overflow: auto;

    @include bp(tablet) {
        width: $sidebar-width;
        height: 100%;
        @include position(fixed, 0 null null null);
    }

    @include bp(tabletonly) {
        background: $c-main;
        color: $c-main--lighter;
        @include size(100%);
        @include position(fixed, 0 0);
        transform: translateX(-100%);
        transition: all $easing;
        
        .navigation-is-active & {
            transform: translateX(0);
        }
    }

}
.site-content {
    background: $white;
    max-width: $site-width;

    @include bp(tablet) {
        border-left: 1px solid $c-bg--dark;
        border-right: 1px solid $c-bg--dark;
        margin-left: $sidebar-width;
    }

    .inner {
        position: relative;
        padding-bottom: $spacing-large;
        box-shadow: 0 0 5px rgba($black, 0.05);
    }

}
