/* Navigation styling
 * ------------------------------------ */
.navigation {

    ul,
    ol { margin: 0; padding-left: 0; }
    
    li {
        list-style: none;
        margin-left: 0;
        margin-top: 0;
        position: relative;
        transition: background $easing;
    }

    a {
        @include padding( $spacing-medium $gutter );
        padding-left: 4em;
        display: block;
        color: currentcolor;
        &:hover {
            color: $c-link--hover;
            @include bp(mobileonly) {
                color: $c-main--lighter;
            }
        }
    }

    .nav-item {
        @include bp(mobile) {
            border-bottom: 1px solid $c-bg--dark;
        }

        .icon {
            color: currentcolor;
            font-size: 2em;
            @include position(absolute, ($spacing-medium - 5) null null 0.4em);
            line-height: 1;
            z-index: -1;
            pointer-events: none
        }

        .more {
            font-size: 12px;
            color: $c-main;
            @include bp(mobileonly) {
                display: none;
            }
        }

        &.active {
            @include bp(mobileonly) {
                background: rgba($black, 0.2);
                color: $white;
            }
            @include bp(mobile) {
                background: $white;
                position: relative;
                z-index: 1;
            }
        }
    }

    

    li.clicked {
        background-image: linear-gradient(to right, rgba($black, 0) 98%, rgba($black, 0.03));
    }
}

/* sub navigation
 * ------------------------------ */
.sub-navigation {
    margin-bottom: $spacing-large;
    li {
        padding: 0;
        border: 0;
        &:last-child a {
            padding-bottom: $spacing-medium;
        }
    }
    a {
        font-size: 0.8em;
        @include padding($spacing-small null);
        &:before {
            content: "-";
            margin-right: 0.4em;
            margin-left: $spacing-medium;
            display: inline-block;
        }
    }
}


// Hamburger
$hamburger-line: 4px;

.hamburger {
    width: 40px;
    margin: $gutter;
    padding: 5px;
    cursor: pointer;

    @include bp(mobile) {
        display: none;
    }

    @include bp(mobileonly) {
        @include position(fixed, 0 0 null null);
        z-index: 10;
    }

    .line {
        display: block;
        @include size(100% $hamburger-line);
        background: currentcolor;
        margin-bottom: $hamburger-line;
        transition: all $easing;
        transform-origin: 50% 50%;

        &:nth-child(2) { width: 100% / 3 * 2; }
        &:nth-child(3) { width: 100% / 3 * 1; }
        
        .navigation-is-active & {
            background: $white;
            width: 100%;
            &:nth-child(1) {
                transform: translateY($hamburger-line * 2) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-#{$hamburger-line * 2}) rotate(-45deg);
            }
        }
    }
}



.active-bar {
    @include bp(mobile) {
        @include position(absolute, 0 null 0 0);
        @include size(1px 100%);
        background: $c-bg--dark;
        transition: all $easing;

        .active & {
            background: $c-main;
            width: 4px;
        }
    }
}