/* Navigation styling
 * ------------------------------------ */
.navigation {

    /* ------------------------------------
        Elements
    ------------------------------------ */

    ul,
    ol { margin: 0; padding-left: 0; }

    li {
        list-style: none;
        margin-left: 0;
        margin-top: 0;
        position: relative;
        transition: background $easing;
    }

    a {
        @include padding( $spacing-medium $gutter );
        padding-left: 55px;
        display: block;
        color: currentcolor;
        &:hover {
            color: $c-link--hover;
            @include media('screen','<desktop') {
                color: $white;
            }
        }
    }


    /* ------------------------------------
        Layout
    ------------------------------------ */

    .nav-item {
        @include media('screen','>desktop') {
            border-bottom: 1px solid $c-bg--dark;
            &:first-child { border-top: 1px solid $c-bg--dark; }
        }

        .icon {
            fill: currentcolor;
            width: 32px;
            font-size: 2em;
            @include position(absolute, ($spacing-medium - 5) null null 0.4em);
            line-height: 1;
            pointer-events: none
        }

        .more {
            font-size: 12px;
            color: $c-main;
            @include media('screen','<desktop') {
                display: none;
            }
        }
    }


    /* ------------------------------------
        States
    ------------------------------------ */

    li.clicked {
        background-image: linear-gradient(to right, rgba($black, 0) 98%, rgba($black, 0.03));
    }



    .nav-item.active {

        @include media('screen','<desktop') {
            background: rgba($black, 0.2);
            color: $white;
        }
        @include media('screen','>desktop') {
            background: $white;
            position: relative;
            z-index: 1;
        }
    }
}

/* sub navigation
 * ------------------------------ */
.sub-navigation {

    li { padding: 0; border: 0; }
    li:last-child a { padding-bottom: $spacing-medium; }

    a {
        @include padding($spacing-small null);
        font-size: 0.8em;
        position: relative;

        &:before {
            @include position(absolute, null null null 25px );
            content: "-";
            margin-right: 0.4em;
            margin-left: $spacing-medium;
            display: inline-block;
        }
    }
}


// Hamburger
$hamburger-size: 55px;
$hamburger-line: 4px;

.hamburger {
    @include size($hamburger-size);
    background: $c-main;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 1px 5px rgba($black, .25);
    user-select: none;

    .navigation-is-active & { background: $white; }

    @include media('screen','>desktop') { display: none; }

    @include media('screen','<desktop') {
        @include position(fixed, null 18px 18px null);
        z-index: 10;
    }

    .line {
        @include size(100% $hamburger-line);
        display: block;
        background: $white;
        margin-bottom: $hamburger-line;
        transition: all $easing;
        transform-origin: 50% 50%;

        &:nth-child(1) { margin-top: ($hamburger-size - ($hamburger-line * 5)) / 2; } //10px
        &:nth-child(2) { width: 100% / 3 * 2; }
        &:nth-child(3) { width: 100% / 3 * 1; }

        .navigation-is-active & {
             width: 100%;
             background: $c-main;

            &:nth-child(1) { transform: translateY($hamburger-line * 2) rotate(45deg); }
            &:nth-child(2) { opacity: 0; }
            &:nth-child(3) { transform: translateY(-#{$hamburger-line * 2}) rotate(-45deg); }
        }
    }
}



.active-bar {
    @include media('screen','>desktop') {
        @include position(absolute, 0 null 0 0);
        @include size(1px 100%);
        background: $c-bg--dark;
        transition: all $easing;

        .active & {
            background: $c-main;
            width: 4px;
        }
    }
}
