/* ====================================
    Animations
==================================== */

.site-content {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

[ui-view] {

    &.ng-enter,
    &.ng-leave {
        transition: all $easing;
        position: absolute !important;
        left: 0;
        right: 0;
    }

    &.ng-enter        { opacity: 0; transform: translateX(-100%); }
    &.ng-enter-active { opacity: 1; transform: translateX(0); }
    &.ng-leave        { opacity: 1; transform: translateX(0); }
    &.ng-leave-active { opacity: 0; transform: translateX(100%); }
}