/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

$adjust-color: 10%;

@function adjust-color($color) {
	@return saturate(darken($color, 0%), 0%)
}

code,
pre { 
	color: $c-bg--dark;
	background: $c-fg;
}

code {
	color: $c-fg--light;
	background: $c-bg--dark;
}

pre {
	// border-top:    1px dashed $c-accent;
	// border-bottom: 1px dashed $c-accent;
	code {
		color: currentcolor;
	}
}


.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: adjust-color(#999);
}

.token.punctuation {
	color: adjust-color(#ccc);
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: adjust-color(#e2777a);
}

.token.function-name {
	color: adjust-color(#6196cc);
}

.token.boolean,
.token.number,
.token.function {
	color: adjust-color(#f08d49);
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: adjust-color(#f8c555);
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: adjust-color(#cc99cd);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: adjust-color(#7ec699);
}

.token.operator,
.token.entity,
.token.url {
	color: adjust-color(#67cdcc);
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}
