// Colors
$c-main        	: #EA5A5A
$c-main--light 	: lighter($c-main, 20%)
$c-main--dark  	: darker($c-main, 20%)

$c-sec			: #282C37
$c-sec--light	: #313541
$c-sec--lighter	: #6A7583
$c-sec--dark	: #1F222D

$c-bg          	: #efefef
$c-bg--light   	: #ffffff
$c-bg--dark    	: #e5e5e5

$c-fg          	: #151515
$c-fg--light   	: #555555
$c-fg--dark    	: #000000

$white: #FFF
$black: #000
