// Colors
$c-main        : #DC493A
$c-main--light : #E05E51
$c-main--dark  : #D73322

$c-bg          : #efefef
$c-bg--light   : #ffffff
$c-bg--dark    : #e5e5e5

$c-fg          : #151515
$c-fg--light   : #333333
$c-fg--dark    : #000000

$white: #FFF
$black: #000