/* ------------------------------------
    Variables
------------------------------------ */
$font-family	: 'Open Sans', $helvetica;
$font-size		: 16px;

$shadow			: 0 0 3px 1px rgba($black, .2);
$shadow--large  : 0 0 15px rgba($black, .1);

// Sizes
$site-width		: 960px;
$site-width		: 760px;
$gutter			: 30px;
$sidebar-width	: 300px;

$spacing-small	: 8px;
$spacing-medium	: 18px;
$spacing-large	: 35px;

$easing--fast	: 150ms ease-in-out;
$easing			: 250ms ease-in-out;
$easing--slow	: 500ms ease-in-out;
