<aside class="sidebar">

	<nav class="navigation" role="navigation">
		<ul>
			<li ng-repeat="link in articleList">
				<a ui-sref="articles({ id: link.name })">
					<span ng-if="!link.title" ng-bind="convert(link.name)"></span>
					<span ng-if="link.title"  ng-bind="convert(link.title)"></span>
				</a>
				
				<ol ng-if="link.chapters" class="sub-navigation">
					<li ng-repeat="chapter in link.chapters">
						<a ui-sref="chapters({ id: link.name, chapterTitle: chapter })" ui-sref-active="active" ng-bind="convert(chapter)"></a>
					</li>
				</ol>
			</li>
		</ul>
	</nav>

</aside>